<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"></p>
            <div class="list=group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <p class="lead"></p>
                <img class="img-responsive" src="<%= home.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"> $<%= home.price %>/night</h4>
                    <h4><a><%=home.name%></a></h4>
                    <p><%= home.description %></p>
                    <p>
                        <i>Submitted By: <%= home.author.username %></i>
                    </p>
                    <% if (currentUser && home.author.id.equals(currentUser._id)){ %> 
                        <a class="btn btn-xs btn-warning" href="/homes/<%= home._id %>/edit">Edit</a>
                        <form class="delete-form" action="/homes/<%=home._id %>?_method=DELETE" method="POST">
                             <button class="btn btn-xs btn-danger">Delete</button>   
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-primary" href="/homes/<%=home._id%>/comments/new">Add New Comment</a> 
                </div>
                <hr>
                <div>
                    <% home.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)){ %> 
                                <a class="btn btn-xs btn-warning" 
                                   href="/homes/<%=home._id%>/comments/<%=comment._id%>/edit">
                                    Edit
                                </a>
                                <form class="delete-form" action="/homes/<%=home._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                                    <input type ="submit" class="btn btn-xs btn-danger" value="Delete"></input>   
                                </form>
                            <% } %>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footer %>